{% extends "./layout/auth.twig" %}
{% block content %}
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning">{{ status }}</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i>{{ titleMessage }}</h3>
            <p>
                {{ message ?? '' }}<br>
                <u><a href="{{ link ?? '/' }}" class="h1">{{ (link and linkName) ? linkName : 'Go to main' }}</a></u>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
{% endblock %}
